.moveIn {
	transition:transform 1s ease,opacity 1s ease;
	transform: translate(0, 0);
	opacity: 1.0;
}

.moveOut {
	transition:transform 1s ease,opacity 1s ease;
	transform: translate(0, 100px);
	opacity: 0.0;
}

.moveInA1 {
	transition:transform 1s ease,opacity 1s ease;
	transform: translate(0, 0);
	opacity: 1.0;
}
.sectionAPop {
	bottom: 15px;
}

.resizeLogo {
	max-height:140px;
}

.ethSectionC {
	margin-right: 30px;
}

.popSectionC {
	margin-left: 30px;
}

.ethSectionD {
	position: relative;
	right: 50px;
}

.popSectionD {
	margin-right: 30px;
	position: relative;
	left: 90px;
}

.scaleDown {
	transition:transform 3s ease,opacity 2s ease;
	transform: scale(0);
}

.scaleUp {
	transition:transform 1s ease,opacity 2s ease;
	transform: scale(1.0);
}

.scaleUp2 {
	transition:transform 1s ease,opacity 2s ease;
	transform: scale(1.3);
}

.scaleUp3 {
	transition:transform 1s ease,opacity 2s ease;
	transform: scale(1.6);
}

.moveRightFadeOut {
	transition:transform 1s ease,opacity 1s ease;
	transform: translate(-100px, 0px);
	opacity: 0.0;
}

.moveRightFadeIn {
	transition:transform 1s ease,opacity 1s ease;
	transform: translate(-100px, 0px);
	opacity: 1.0;
}

.moveLeftFadeIn {
	transition:transform 1s ease,opacity 1s ease;
	transform: translate(100px, 0);
	opacity: 1.0;
}

.moveLeftFadeOut {
	transition:transform 1s ease,opacity 1s ease;
	transform: translate(100px, 0);
	opacity: 0.0;
}

.moveLeftFadeOutBig {
	transition:transform 1s ease,opacity 1s ease;
	transform: translate(170px, 0);
	opacity: 0.0;
}