body {
	/*background-color: #f3a124;*/
	background-color: #f2f2f2f2;
}

.player-info-container {
	margin-top: 35px;
}

.header {
	padding-top: 20px;
	padding-bottom: 50px;
	color: white;
	background-color: #87d4e4;
	
	padding-left: 80px;
	padding-right: 80px;
}

#myChart {
	/* position: absolute;*/
}
#chartContainer{
	width: 85%;
    float: none;
    margin: 0 auto;
}

#br-container {
	font-size: 30px;
	font-family: 'helvetica';
	position: absolute;
	top: 20%;
	left: 40%;
}

#blocks-needed-container {
	font-size: 24px;
	font-family: 'helvetica';
	position: absolute;
	top: 30%;
	left: 40%;
}
.current-game-balance {
}
.game-stat-row {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgb(52, 55, 70);
}

.extra-stats-row {
	padding: 10px;
	height: 50px;
	font-size: 18px;
	background-color: #ea2d49;
}

.main-stats-row {
	/*background-color: rgba(52, 55, 70, 1.0);*/
	color: #555;
	padding: 10px;
	font-weight: 500;
	margin-top: 20px;
	height: 50px;
	font-size: 30px;
}
.mine-row {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.withdraw-row{
	margin-top: 30px;
}

.education-row {
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	text-align: center;
	color: white;
	background-color: #ea2d49;
	background-color: #87d4e4;
	font-weight: 200;
}
.hero {
	font-size: 100px;
	color: white;
	font-family: "futura";
}

.hero-sub {
	color: white;
	font-size: 30px;
}

.miner-stats{
	font-size: 80px;
}

.box-denom-bg {
	font-size: 34px;
}

.box-main-sm {
	margin-top: 16px;
}

.box-main-sm-title {
	font-family: "futura";
	font-size: 22px;
}

.box-denom-sm {
	font-size: 22px;
}
.box-sub-sm {
	font-size: 16px;
	margin-bottom: 20px;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.row-margin {
	margin-top: 10px;
}

.btn-huge {
	font-size: 40px;
	padding-left: 100px;
	padding-right: 100px;
}
.sm-box {
	text-align: center;
	-moz-box-shadow:    3px 3px 3px 3px rgba(100, 100, 100, 0.4);
	-webkit-box-shadow: 3px 3px 3px 3px rgba(100, 100, 100, 0.4);
	box-shadow:         3px 3px 3px 3px rgba(100, 100, 100, 0.4);
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding-top: 1px;
	width: 300px;
	height: 150px;
    float: none;
    margin: 0 auto;
}
.spacer {
	margin-left: 10px;
	margin-right: 10px;
}
.bg-box {
	text-align: center;
	-moz-box-shadow:    3px 3px 3px 3px rgba(100, 100, 100, 0.4);
	-webkit-box-shadow: 3px 3px 3px 3px rgba(100, 100, 100, 0.4);
	box-shadow:         3px 3px 3px 3px rgba(100, 100, 100, 0.4);
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	width: 250px;
	height: 100px;
    float: none;
    margin: 0 auto;
}

.box-main-bg {
	font-family: "futura";
	font-size: 45px;
}

.box-sub-bg {
	font-size: 16px;
}

li {
	list-style: none;
}
nav {
	background-color: #87d4e4;
	background-color: rgba(52, 55, 70, 1.0);

}

#myNavBar {
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
}

.input-large {
	width: 350px;
	font-size: 22px;
	margin-bottom: 10px;
	margin-top: 40px;
}

.currentWinningsSection {
	float: left;
}

.currentMiningsSection {
	float: right;
}

.mine-box {
	text-align: center;
	-moz-box-shadow:    3px 3px 3px 3px rgba(100, 100, 100, 0.4);
	-webkit-box-shadow: 3px 3px 3px 3px rgba(100, 100, 100, 0.4);
	box-shadow:         3px 3px 3px 3px rgba(100, 100, 100, 0.4);
	/*background-color: rgba(52, 55, 70, 1.0);*/
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	padding-right: 60px;
	width: 650px;
    float: none;
    margin: 0 auto;
}


.white {
	color: white;
}